@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  h1 { 
     @apply text-3xl md:text-5xl lg:text-5xl xl:text-5xl text-center font-mono; 
  }
  h2 { 
      @apply text-xl md:text-3xl lg:text-3xl xl:text-3xl text-center font-mono; 
  }
  h3 { 
      @apply text-lg md:text-xl lg:text-xl xl:text-xl text-center font-mono; 
  }
  p {
      @apply text-base text-center font-mono;
  }
}

.form-control {
  background: darkgray;
  padding: 1%;
  color: white;
}